.features {
  padding: 100px 0;
  .item-title {
    margin: 25px 0;
  }
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.features__item {
  width: 30%;
  padding: 40px 20px 25px;
  transition: 0.3s;

  .item-text {
    max-width: 90%;
  }

  &:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
}
.content {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
}

.text {
  font-size: 12px;
}
