.title {
  font-family: "Gilroy-Bold";
  font-size: 45px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.descr {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  color: $grey;
  text-align: center;
  margin: 0 auto;
}

.item-title {
  font-family: Gilroy-Bold;
  font-size: 24px;
  color: #000000;
}

.item-text {
  font-family: Gilroy-Regular;
  font-size: 15px;
}
