<section class="check">
  <div class="container">
    <div class="check__wrapper">
      <h2 class="title">Check Your Website Speed</h2>
      <p class="descr">
        Distinctively exploit optimal alignments for intuitive bandwidth.
        Quickly coordinate e-business through revolutionary.
      </p>
      <form action="#" class="check__form">
        <input id="url" type="url" name="url" placeholder="Web URL" />
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email Address"
        />
        <button class="btn">Submit</button>
      </form>
    </div>
    <img src="img/check/check.png" alt="" class="check__img" />
  </div>
</section>
