<section class="choose">
  <div class="container">
    <h2 class="title">Why You Should Choose Us.</h2>
    <p class="descr">
      Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
      coordinate e-business applications through revolutionary catalysts.
    </p>
    <div class="choose__items">
      <div class="choose__item">
        <img class="choose__item-img" src="img/choose/choose1.jpg" alt="" />
        <div class="choose__item-wrapper">
          <h3 class="item-title">Keyword Research</h3>
          <p class="item-text">
            Business applications through revolutionary catalysts for chang the
            Seamlessly underwhelm dures.
          </p>
          <button class="btn btn-more">Learn More</button>
        </div>
      </div>
      <div class="choose__item">
        <img class="choose__item-img" src="img/choose/choose2.svg" alt="" />
        <div class="choose__item-wrapper">
          <h3 class="item-title">Seo Optimazadion</h3>
          <p class="item-text">
            Business applications through revolutionary catalysts for chang the
            Seamlessly underwhelm dures.
          </p>
          <button class="btn btn-more">Learn More</button>
        </div>
      </div>
      <div class="choose__item">
        <img class="choose__item-img" src="img/choose/choose3.svg" alt="" />
        <div class="choose__item-wrapper">
          <h3 class="item-title">Social Marketing</h3>
          <p class="item-text">
            Business applications through revolutionary catalysts for chang the
            Seamlessly underwhelm dures.
          </p>
          <button class="btn btn-more">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
