<section class="clients">
  <h2 class="title">Our Clients Say</h2>
  <p class="descr">
    Our in - house search engine experts deliver profitable Google, Bing, Yahoo
    Ranking.
  </p>
  <div class="swiper clients__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide clients__slide">
        <p class="clients__slide-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint cupiditate non provident.
        </p>
        <img class="clients__slide-img" src="img/clients/imageMan.png" alt="" />
        <h3 class="clients__slide-name">Rabith Halson</h3>
        <p class="clients__slide-position">Web Design</p>
      </div>
      <div class="swiper-slide clients__slide">
        <p class="clients__slide-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint cupiditate non provident.
        </p>
        <img class="clients__slide-img" src="img/clients/imageMan.png" alt="" />
        <h3 class="clients__slide-name">Rabith Halson</h3>
        <p class="clients__slide-position">Web Design</p>
      </div>
      <div class="swiper-slide clients__slide">
        <p class="clients__slide-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint cupiditate non provident.
        </p>
        <img
          class="clients__slide-img"
          src="img/clients/imageWoman.png"
          alt=""
        />
        <h3 class="clients__slide-name">Selena Roy</h3>
        <p class="clients__slide-position">UI Designer</p>
      </div>
      <div class="swiper-slide clients__slide">
        <p class="clients__slide-text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint cupiditate non provident.
        </p>
        <img
          class="clients__slide-img"
          src="img/clients/imageWoman.png"
          alt=""
        />
        <h3 class="clients__slide-name">Selena Roy</h3>
        <p class="clients__slide-position">UI Designer</p>
      </div>
    </div>
    <div class="swiper-pagination pagination"></div>
  </div>
</section>
