<div class="counter">
  <div class="container">
    <div class="counter__items">
      <div class="counter__item">
        <span class="counter__item-num">95</span>
        <p class="counter__item-text">Happy Clients</p>
      </div>
      <div class="counter__item">
        <span class="counter__item-num">115</span>
        <p class="counter__item-text">Project Done</p>
      </div>
      <div class="counter__item">
        <span class="counter__item-num">8+</span>
        <p class="counter__item-text">Years Of Experince</p>
      </div>
      <div class="counter__item">
        <span class="counter__item-num">12</span>
        <p class="counter__item-text">National Awards</p>
      </div>
    </div>
  </div>
</div>
