<section class="features">
  <div class="container">
    <div class="features__items">
      <div class="features__item">
        <img
          class="features__item-img"
          src="img/features/features1.svg"
          alt=""
        />
        <h3 class="item-title">Grow Your Business</h3>
        <p class="item-text">
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews.
        </p>
        <button class="btn acc-btn">Read more...</button>
        <div class="content">
          <p class="text">
            Leverage agile frameworks to provide a robust synopsis for high
            level overviews. Leverage agile frameworks to provide a robust
            synopsis for high level overviews. Leverage agile frameworks to
            provide a robust synopsis for high level overviews. Leverage agile
            frameworks to provide a robust synopsis for high level overviews.
          </p>
        </div>
      </div>
      <div class="features__item">
        <img
          class="features__item-img"
          src="img/features/features2.svg"
          alt=""
        />
        <h3 class="item-title">Get Quality Ieads</h3>
        <p class="item-text">
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews.
        </p>
        <button class="btn acc-btn">Read more...</button>
        <div class="content">
          <p class="text">
            Leverage agile frameworks to provide a robust synopsis for high
            level overviews. Leverage agile frameworks to provide a robust
            synopsis for high level overviews. Leverage agile frameworks to
            provide a robust synopsis for high level overviews. Leverage agile
            frameworks to provide a robust synopsis for high level overviews.
          </p>
        </div>
      </div>
      <div class="features__item">
        <img
          class="features__item-img"
          src="img/features/features3.svg"
          alt=""
        />
        <h3 class="item-title">Drive More Sales</h3>
        <p class="item-text">
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews.
        </p>
        <button class="btn acc-btn">Read more...</button>
        <div class="content">
          <p class="text">
            Leverage agile frameworks to provide a robust synopsis for high
            level overviews. Leverage agile frameworks to provide a robust
            synopsis for high level overviews. Leverage agile frameworks to
            provide a robust synopsis for high level overviews.Leverage agile
            frameworks to provide a robust synopsis for high level overviews.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
