<section class="footer">
  <div class="container">
    <div class="footer__items">
      <div class="footer__item">
        <img src="img/header/logo.png" alt="" width="137" height="40" />
        <p class="footer__info-text">
          Distinctively exploit optimal alignments for intuitive bandwidth.
          Quickly coordinate business through revolutionary.
        </p>
        <ul class="social">
          <li>
            <a href="#" class="social__link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-google"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Our Company</h3>
        <ul class="footer__list">
          <li>
            <a class="footer__link" href="#tarif">About Us</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Our Services</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Our Plan</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Team</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Latest News</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__nav-title">Our Services</h3>
        <ul class="footer__list">
          <li>
            <a class="footer__link" href="#tarif">Digital Marketing</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">SEO Optimazation</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Web Development</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Link Building</a>
          </li>
          <li>
            <a class="footer__link" href="#tarif">Terms & Privacy</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__contacts-title">Contact Us</h3>
        <p class="footer__contacts-text">
          <span>Location: </span
          ><a href="" class="footer__link"
            >1370 Orvilly Rot APT, New York, USA</a
          >
        </p>
        <p class="footer__contacts-text">
          <span>Email: </span><a class="footer__link">growbeinfo@gmail</a>
        </p>
        <p class="footer__contacts-text">
          <span>Phone: </span
          ><a class="footer__link" href="tel:+32493325018">+324-9332-5018</a>
        </p>
      </div>
    </div>
    <div class="footer__copyright">
      <p>Copyright © GrowBe 2021. All Rights Reserved.</p>
    </div>
  </div>
</section>
