<div class="progress-bar"></div>
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="logo">
        <img src="img/header/logo.png" alt="" class="logo__img" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">About Us</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Services </a>
          </li>
          <li class="menu__item has-subnav">
            <a href="" class="menu__link accordion-btn">Features</a>
            <ul class="subnav accordion-panel">
              <li class="subnav__item">
                <a href="" class="subnav__link">Portfolio</a>
              </li>
              <li class="subnav__item">
                <a href="" class="subnav__link">Advantages</a>
              </li>
              <li class="subnav__item">
                <a href="" class="subnav__link">Contacts</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Team</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Blog</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Contact</a>
          </li>
        </ul>
        <button class="btn btn-small">Get Started</button>
      </nav>
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>
