<section class="news">
  <h2 class="title">Our Latest News</h2>
  <p class="descr">
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae Suspendisse ante arcu, consectetur id nisl eget.
  </p>
  <div class="swiper news__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide news__slide">
        <div class="news__slide-wrapper">
          <img src="img/news/image.webp" alt="" class="news__slide-img" width="312"
          height="381" />
          <div class="news__slide-content">
            <h3 class="news__slide-title">
              How to become a new digital marketing idea?
            </h3>
            <ul class="news__slide-items">
              <li class="news__slide-item">By Admin</li>
              <li class="news__slide-item">32 Love</li>
              <li class="news__slide-item">13 Comment</li>
            </ul>
            <p class="news__slide-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="#" class="news__slide-link">Read More...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide news__slide">
        <div class="news__slide-wrapper">
          <img src="img/news/image.webp" alt="" class="news__slide-img" width="312"
          height="381" />
          <div class="news__slide-content">
            <h3 class="news__slide-title">
              How to become a new digital marketing idea?
            </h3>
            <ul class="news__slide-items">
              <li class="news__slide-item">By Admin</li>
              <li class="news__slide-item">32 Love</li>
              <li class="news__slide-item">13 Comment</li>
            </ul>
            <p class="news__slide-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="#" class="news__slide-link">Read More...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide news__slide">
        <div class="news__slide-wrapper">
          <img src="img/news/image.webp" alt="" class="news__slide-img" width="312"
          height="381" />
          <div class="news__slide-content">
            <h3 class="news__slide-title">
              How to become a new digital marketing idea?
            </h3>
            <ul class="news__slide-items">
              <li class="news__slide-item">By Admin</li>
              <li class="news__slide-item">32 Love</li>
              <li class="news__slide-item">13 Comment</li>
            </ul>
            <p class="news__slide-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="#" class="news__slide-link">Read More...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide news__slide">
        <div class="news__slide-wrapper">
          <img src="img/news/image.webp" alt="" class="news__slide-img" />
          <div class="news__slide-content">
            <h3 class="news__slide-title">
              How to become a new digital marketing idea?
            </h3>
            <ul class="news__slide-items">
              <li class="news__slide-item">By Admin</li>
              <li class="news__slide-item">32 Love</li>
              <li class="news__slide-item">13 Comment</li>
            </ul>
            <p class="news__slide-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="#" class="news__slide-link">Read More...</a>
          </div>
        </div>
      </div>
    </div>  <div class="swiper-pagination pagination"></div>
</div>
  </div>

</section>
