<section class="plans">
  <div class="container">
    <h2 class="title">Our Plans</h2>
    <p class="descr">Choose the right SEO for you</p>
    <div class="plans__items">
      <div class="plans__item">
        <h3 class="plans__item-title">Plus</h3>
        <p class="plans__item-price"><sup>$</sup> 30<sub>/mounth</sub></p>
        <ul class="plans__item-list">
          <li>50GB Bandwidth</li>
          <li>Business & Financ Analysing</li>
          <li>24 Hour Support</li>
          <li>Customer Managemet</li>
        </ul>
        <button class="btn btn-disable">Get Started</button>
      </div>
      <div class="plans__item">
        <h3 class="plans__item-title">Beginer</h3>
        <p class="plans__item-price"><sup>$</sup> 55<sub>/mounth</sub></p>
        <ul class="plans__item-list">
          <li>50GB Bandwidth</li>
          <li>Business & Financ Analysing</li>
          <li>24 Hour Support</li>
          <li>Customer Managemet</li>
        </ul>
        <button class="btn btn-disable">Get Started</button>
      </div>
      <div class="plans__item">
        <h3 class="plans__item-title">Advanced</h3>
        <p class="plans__item-price"><sup>$</sup> 129<sub>/mounth</sub></p>
        <ul class="plans__item-list">
          <li>50GB Bandwidth</li>
          <li>Business & Financ Analysing</li>
          <li>24 Hour Support</li>
          <li>Customer Managemet</li>
        </ul>
        <button class="btn btn-disable">Get Started</button>
      </div>
    </div>
  </div>
</section>
