<section class="promo">
  <div class="container">
    <div class="promo__wrapper">
      <h1 class="promo__title">
        SEO & Digital <span>Marketing</span> For Your Website.
      </h1>
      <p class="promo__text">
        Provide all kind of seo services and help to improve seo ranking.
        Globally incubate standards.
      </p>
      <button class="btn">Start Now</button>
      <button class="btn-video">Watch Video</button>
    </div>
    <img
      width="800"
      height="400"
      class="promo__img"
      src="img/promo/promo.svg"
      alt=""
    />
  </div>
</section>
