<section class="solution">
  <div class="container">
    <div class="solution__wrapper">
      <div class="solution__descr">
        <h2 class="title">Perfect Solution For Your Business</h2>
        <p class="descr">
          Distinctively exploit optimal alignments for intuitive bandwidth.
          Quickly coordinate e-business applications through revolutionary
          catalysts for chang the Seamlessly underwhelm optimal testing
          procedures.
        </p>
        <button class="btn">Learn More</button>
      </div>
      <img class="solution__img" src="img/solution/solution.png" alt="" />
    </div>
  </div>
</section>
