<section class="team">
  <div class="container">
    <h2 class="title">Our Expert Team Members</h2>
    <p class="descr">
      This new-found knowledge may then be used by engineers to create new tools
      and machines.
    </p>
    <div class="team__items">
      <div class="team__item">
        <img src="img/team/team1.png" alt="" class="team__item-img" />
        <h3 class="team__item-title">Nattasha</h3>
        <p class="team__item-text">Web Develper</p>
        <ul class="social">
          <li>
            <a href="#" class="social__link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-google"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img src="img/team/team2.png" alt="" class="team__item-img" />
        <h3 class="team__item-title">John Doe</h3>
        <p class="team__item-text">Web Develper</p>
        <ul class="social">
          <li>
            <a href="#" class="social__link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-google"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img src="img/team/team3.png" alt="" class="team__item-img" />
        <h3 class="team__item-title">Haris Milas</h3>
        <p class="team__item-text">Ceo & Co-Funder</p>
        <ul class="social">
          <li>
            <a href="#" class="social__link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-google"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img src="img/team/team4.png" alt="" class="team__item-img" />
        <h3 class="team__item-title">Nelson Mecoy</h3>
        <p class="team__item-text">Marketing Manager</p>
        <ul class="social">
          <li>
            <a href="#" class="social__link">
              <span class="icon-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-linkedin"></span>
            </a>
          </li>
          <li>
            <a href="#" class="social__link">
              <span class="icon-google"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
